.App {
  /* text-align: center; */
  background-color: #DDDDDD;
  /* height: 100vh; */
  color:white;
}
body{
  /* margin: 0; */
    /* padding: 0; */
    /* border: 0; */
}
/* 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.components{
  width:30%;
  /* border:1px solid #fff; */
  text-align: center;
  margin: auto;
  height: 100vh;
  background-color: #23252c;

}
.headerClass{
  padding-top:20px;
}

.imgProfile{
  border-radius: 4px;
  width: 30%;
}
h5{
margin: 0;
}
h4{
  margin: 0;
}
.socialBtn{
  margin-top: 10px;
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
}
.socialBtnLeft{
  font-size: 1.4rem;
  border-radius: 5px;
  border-color: black;
}
.socialBtnRight{
  margin-left: 20px;
  font-size: 1.4rem;
  border-radius: 5px;
}
.about{
  /* margin: auto; */
    /* width: 28%; */
    /* text-align: initial; */
}

.aboutHeading{
  /* width: 50%; */
  width: 60%;
  margin: auto;
  text-align: left;
    margin-top: 20px !important;

}
.interestHeading{
  margin-top: 20px;
  width: 60%;
  margin: auto;
  text-align: left;
  margin-top: 20px !important;
}